<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8" />
    <meta name ="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Calendar</title>
    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://apis.google.com/js/platform.js" async defer>
      let signOut =  function () {
        console.log(gapi);
        console.log(gapi.auth2);
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {   
          console.log('User signed out.');   
          auth2.disconnect();  
        });
        auth2.disconnect();
      }
      (function() {
        document.getElementById ("google-signout").addEventListener ("click", signOut, false);
      })();
    </script>
  </head>

  <body>
  
    {% include 'navbar.html' %}

    <!-- main page -->
    <main class="main-section">
      <div class="calendar-container">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left
             prev"></i>
            <div class="date">
              <h1></h1>
              <p>Fri May 29, 2020</p>
            </div>
            <i class="fas fa-angle-right
             next"></i>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days">
          </div>
        </div>
      </div>
      <script src="/static/js/calendar.js"></script>
    </main>
  </body>
</html>