<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8" />
    <metaname ="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Calendar</title>
    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
  
    <!--- navigation bar -->
    <nav class="sidebar">
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a class="sidebar-link" href="/tasks">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span class="title">Tasks</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="/calendar">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          <span class="title">Calendar</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="">
          <span class="icon"><i class="fas fa-book-open"></i></span>
          <span class="title">Notes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/settings">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/logout">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- main page -->
    <main class="main-section">
      <div class="container">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left
             prev"></i>
            <div class="date">
              <h1></h1>
              <p>Fri May 29, 2020</p>
            </div>
            <i class="fas fa-angle-right
             next"></i>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days">
            <div class="prev-date">26</div>
            <div class="prev-date">27</div>
            <div class="prev-date">28</div>
            <div class="prev-date">29</div>
            <div class="prev-date">30</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div>17</div>
            <div>18</div>
            <div class="today">19</div>
            <div>20</div>
            <div>21</div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
            <div>25</div>
            <div>26</div>
            <div>27</div>
            <div>28</div>
            <div>29</div>
            <div>30</div>
            <div>31</div>
            <div class="next-date">1</div>
            <div class="next-date">2</div>
            <div class="next-date">3</div>
            <div class="next-date">4</div>
            <div class="next-date">5</div>
            <div class="next-date">6</div>
          </div>
        </div>
      </div>
      <script src="/static/js/calendar.js"></script>
    </main>
  </body>
</html>