{% extends 'layout.html' %}

{% block title %}
    Day Planner
{% endblock %}

  <body>
    <div class="sidebar">
      <ul>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-user-astronaut"></i></span>
            <span class="title">Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-calendar-alt"></i></span>
            <span class="title">Calendar</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-clock"></i></span>
            <span class="title">Reminders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span class="title">Notes</span>
          </a>
        </li>
      </ul>
      
    </div>
  </body>
