<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8">
    <title>Day Planner</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/style.css" />

    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="sidebar">
      <div>
        <ul>
          <li>
            <a href="/tasks">
              <span class="icon"><i class="fas fa-edit"></i></span>
              <span class="title">Tasks</span>
            </a>
          </li>
          <li>
            <a href="/settings">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="title">Calendar</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main>{% block main %}{% endblock %}</main>
  </body>
</html>
