{% extends 'layout.html' %} 

{% block stylesheet %}  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}"/> {% endblock %}

{% block main %} 

    <div>
        <h1>Login</h1>
    </div>

    <form class="login-form" action="/login" method="post">

        <!-- username -->
        <div>
            <input autocomplete="off" name="username" placeholder="Username" type="text" autocomplete="off" autofocus onkeyup="manage(this)">
        </div>

        <!-- password -->
        <div>
            <input name="password" placeholder="Password" type="password" autofocus onkeyup="manage(this)">
        </div>

        <!-- button -->
        <div>
            <button id="submit" type="submit">Login</button>
        </div>

    </form>

{% endblock %}