<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8" />
    <meta name ="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Notes</title>
    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://apis.google.com/js/platform.js" async defer>
      let signOut =  function () {
        console.log(gapi);
        console.log(gapi.auth2);
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {   
          console.log('User signed out.');   
          auth2.disconnect();  
        });
        auth2.disconnect();
      }
      (function() {
        document.getElementById ("google-signout").addEventListener ("click", signOut, false);
      })();
    </script>
  </head>

  <body>
    
    {% include 'navbar.html' %}

    <!-- Main section -->
    <main class="main-section">
      <div class="notes-popup" id="add-note-button">
        <div class="overlay"></div>
        <h1 class="main-page-title">All Notes</h1>
        <div class="all-notes">
          <li>
          {% for notes in users_notes %}
            <ul class="list-items">
              <a class="notes-title" href="/notepage/{{ notes.id }}">{{ notes.title }}</a>
              <a class="delete-note" href="/delete-note/{{ notes.id }}"><i class="fas fa-trash"></i></a>
            </ul>
          {% endfor %}
        </div>
        <div class="content">
          <div class="close-button" onclick="togglePopup()">×</div>
          <form action="/add-note" method="POST" >
            <div class="notes-title-field">
              <input id="title-input" type="text" name="title" placeholder="Your title" onkeyup="handleSaveButtonActiveState()"></input>
            </div>
            <div class="notes-body-field">
              <textarea name="body"></textarea>
            </div>
            <div class="save">
              <button id="save-button" type="submit">Save</button>
            </div>
          </form>
          
        </div>
      </div>
      <button class="add-note-button" onclick="togglePopup()">Add a note</button>

      <script src="/static/js/notes.js"></script>
    </main>
    

  </body>
</html>