<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8" />
    <metaname ="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Calendar</title>
    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
  
    <!--- navigation bar -->
    <nav class="sidebar">
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a class="sidebar-link" href="/tasks">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span class="title">Tasks</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="/calendar">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          <span class="title">Calendar</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="/notes">
          <span class="icon"><i class="fas fa-book-open"></i></span>
          <span class="title">Notes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/settings">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/logout">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main section -->
    <main class="main-section">
        <div class="notes-container">
          <div class="notes-page-heading">
            <h1>All Notes</h1>
          </div>
          <div class="submit-button">
            <button action="/add" method="post">Add a note</button>
          </div>
        </div>
    </main>

  </body>
</html>