<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf=8" />
    <meta name ="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>User Profile</title>
    <!-- Required to import fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/c20afc23a5.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://apis.google.com/js/platform.js" async defer>
      let signOut =  function () {
        console.log(gapi);
        console.log(gapi.auth2);
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {   
          console.log('User signed out.');   
          auth2.disconnect();  
        });
        auth2.disconnect();
      }
      (function() {
        document.getElementById ("google-signout").addEventListener ("click", signOut, false);
      })();
    </script>
  </head>

  <body>
    <!--- navigation bar -->
    <nav class="sidebar">
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">
            <span class="icon"><i class="fas fa-user-circle"></i></span>
            <span class="title">User Profile</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/tasks">
            <span class="icon"><i class="fas fa-edit"></i></span>
            <span class="title">Tasks</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="/calendar">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          <span class="title">Calendar</span>
          </a>
        </li>
        <li>
          <a class="sidebar-link" href="/notes">
          <span class="icon"><i class="fas fa-book-open"></i></span>
          <span class="title">Notes</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/settings">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a id="google-signout" class="sidebar-link" href="/logout">
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <main class="main-section">
      <div class="profile-container">
        <h1> Welcome, { User }</h1>
      </div>
    </main>
  </body>
</html>