{% extends 'layout.html' %}

{% block stylesheet %}  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register.css')}}"/> {% endblock %}

{% block main %}

    <div>
        <h1>Register</h1>
    </div>

    <form action="/register" method="post">

        <!-- username -->
        <div>
            <input type="text" id="name" name="username" placeholder="Username" autocomplete="off" autofocus/>
        </div>

        <!-- password -->
        <div>
            <input type="password" id="pass" name="password" placeholder="Password"/>
        </div>

        <!-- confirmation -->
        <div>
            <input type="password" id="pass1" name="confirmation" placeholder="Confirm Password"/>
        </div>

        <!-- button -->
        <div>
            <button id="submit" type="submit">Register</button>
        </div>

    </form>

{% endblock %}