{% extends 'layout.html' %}

{% block stylesheet %}  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/settings.css')}}"/> {% endblock %}

{% block main %}
    <div>
        <h1>Settings</h1>
    </div>

    <form action="/settings" method="post">
        <!-- Old Password -->
        <div>
            <input type="password" id="oldpass" name="old" placeholder="Old Password" autocomplete="off" autofocus/>
        </div>

        <!-- New Password -->
        <div>
            <input type="password" id="pass" name="new" placeholder="New Password"/>
        </div>

        <!-- Confirm Password -->
        <div>
            <input type="password" id="pass1" name="confirmation" placeholder="Confirm Password"/>
        </div>

        <!-- Button -->
        <div>
            <button id="submit" type="submit" disabled>Change Password</button>
        </div>

    </form>
    
{% endblock %}