{% extends 'layout.html' %}

{% block stylesheet %}  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tasks.css')}}"/> {% endblock %}

{% block main %}

    <div class="tasks-main">
        <h1 class="tasks-header">Tasks</h1>
        <div class="input-field">
            <input type="text" placeholder="Add your task"></input>
            <button><i class="fas fa-plus"></i></button>
        </div>
        <ul class="list-items">
            <li>Do this<span><i class="fas fa-trash"></i></span></li>
            <li>Do that<span><i class="fas fa-trash"></i></span></li>
        </ul>
        <div class="footer">
            <span>You have 2 pending tasks</span>
            <button>Clear All</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>

{% endblock %}